<?xml version="1.0" encoding="UTF-8"?>
<config>

  <idpblacklist>
    <idp>https://accounts.google.com/o/oauth2/auth</idp>
    <idp>https://github.com/login/oauth/authorize</idp>
    <idp>https://orcid.org/oauth/authorize</idp>
    <idp>urn:mace:incommon:idp.protectnetwork.org</idp>
  </idpblacklist>

  <delegate>
    <forcelifetime>12</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

</config>
