/***** Begin basic elements *****/
body {
  font-family: Verdana, Geneva,"DejaVu Sans",Arial,Helvetica,sans-serif;
  background-color: #E7E8E9;
  color: #222;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #2079D2;
}
a:visited {
  color: #2079D2;
}
a:hover, a:active {
  text-decoration: underline;
  color: #1961A9;
}
.card {
    background-color: #eee;
}
.card-header {
    background-color: white;
}
.btn.btn-primary {
  font-size: 100%;
  color: #2079D2;
  margin: 5px 0.5em;
  padding: 0.3em 0.8em;
  text-decoration: none;
  border: medium none;
  border-radius: 4px;
  background: linear-gradient(to bottom, #EAEBEC, #D7D8D9) repeat scroll 0% 0% transparent;
  text-shadow: 0px 1px 2px #FFF, 0px -1px 1px #999;
  -webkit-box-shadow: 0 0 1px 1px #858f99;
  -moz-box-shadow: 0 0 1px 1px #858f99;
  box-shadow: 0 0 1px 1px #858f99;
  font-weight: normal;
}
.btn.btn-primary:hover,
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #2079D2;
  -webkit-box-shadow: 0 0 2px 2px #2079D2;
  -moz-box-shadow: 0 0 2px 2px #2079D2;
  box-shadow: 0 0 2px 2px #2079D2;
  font-weight: normal;
}

div.logoheader {
  background: #e7e8e9;
  height: 68px;
  width: 100%;
  min-width: 600px;
}
div.logoheader h1 {
  background: transparent url("/images/seedme-logo.png") no-repeat top left;
  margin-top: 10px;
  margin-left: 10px;
  width: 127px;
  height: 48px;
  float: left;
}
div.skincilogonlogo {
  margin: 3px;
  display: inline;
}
.footer {
  border: 0;
  color: #222;
}
.footer a:link {
  color: #2079D2;
}
.footer a:visited {
  color: #2079D2;
}
.footer a:hover {
  color: #1961A9;
}
.footer a:active {
  color: #1961A9;
}
