/***** Begin basic elements *****/
body {
  font-family: Verdana, Geneva,"DejaVu Sans",Arial,Helvetica,sans-serif;
	background-color: #E7E8E9;
  color: #222;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
	color: #2079D2;
}
a:visited {
	color: #2079D2;
}
a:hover, a:active {
	text-decoration: underline;
	color: #1961A9;
}
/***** End basic elements *****/

/***** Begin a few misc elements *****/
div.boxed {
  border: 2px solid #d0d0d1;
  border-radius: 4px;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #FFF;
}
div.boxheader {
  color: #fff;
  border: 1px solid #999;
  background-color: #708090;
}
input.submit {
  font-size: 100%;
  color: #2079D2; 
  margin: 5px 0.5em;
  padding: 0.3em 0.8em;
  text-decoration: none;
  border: medium none;
  border-radius: 4px;
  background: linear-gradient(to bottom, #EAEBEC, #D7D8D9) repeat scroll 0% 0% transparent;
  text-shadow: 0px 1px 2px #FFF, 0px -1px 1px #999;
  -webkit-box-shadow: 0 0 1px 1px #858f99;
  -moz-box-shadow: 0 0 1px 1px #858f99;
  box-shadow: 0 0 1px 1px #858f99;
  font-weight: normal;
}
input.submit:hover, input.submit:active {
  color: #2079D2; 
  -webkit-box-shadow: 0 0 2px 2px #2079D2;
  -moz-box-shadow: 0 0 2px 2px #2079D2;
  box-shadow: 0 0 2px 2px #2079D2;
}

div.contactform {
  background: #fff;
}
div.noticebanner {
  color: #000;
}
/***** End a few misc element *****/

/***** Begin the "CILogon Service" header at the top of each page *****/
div.logoheader {
  background: #e7e8e9;
  height: 68px;
  width: 100%;
  min-width: 600px;
}
div.logoheader h1 {
  background: transparent url("/skin/SeedMe/seedme_transparent_0.png") no-repeat top left;
  margin-top: 10px;
  margin-left: 10px;
  width: 127px;
  height: 48px;
  float: left;
}
/***** End the "CILogon Service" header at the top of each page *****/


/***** Begin page footer *****/
div.footer {
  border: 0;
  color: #222;
}
div.footer a:link {
  color: #2079D2;
}
div.footer a:visited {
  color: #2079D2;
}
div.footer a:hover {
  color: #1961A9;
}
div.footer a:active {
  color: #1961A9;
}
/***** End page footer *****/

/***** Begin actionbox containing action buttons and WAYF *****/
div.actionbox,
div.p12actionbox,
div.logoffactionbox {
  border: 1px solid #333;
  border-radius: 4px;
  display: block;
  color: #124272;
  background-color: #eee;
}
/***** End actionbox *****/

/***** Begin certinfo / portalinfo table *****/
table.certinfo,
table.portalinfo1,
table.portalinfo2 {
  background-color: #eee;
}
/***** End certinfo / portalinfo table *****/


/***** Begin skincilogonlogo *****/
div.skincilogonlogo {
  margin: 3px;
  display: inline;
}
/***** End skincilogonlogo *****/

/***** Begin Help-related stuff *****/
table.helptable td.helpcell div {
  background-color: #eee;
  margin-right: 1em;
}
tr.inforow td.helpcell {
  background-color: #eee;
}
/***** End Help-related stuff *****/
