<?xml version="1.0" encoding="UTF-8"?>
<config>

  <idpwhitelist>
    <idp>https://accounts.google.com/o/oauth2/auth</idp>
    <idp>https://github.com/login/oauth/authorize</idp>
    <idp>https://orcid.org/oauth/authorize</idp>
    <idp>https://tumidp.lrz.de/idp/shibboleth</idp>
    <idp>urn:mace:incommon:stanford.edu</idp>
    <idp>urn:mace:incommon:columbia.edu</idp>
    <idp>https://aaf.unsw.edu.au/idp/shibboleth</idp>
    <idp>urn:mace:incommon:unc.edu</idp>
    <idp>urn:mace:incommon:duke.edu</idp>
    <idp>https://access.research.cchmc.org/fed/idp</idp>
    <idp>https://login.uc.edu/idp/shibboleth</idp>
    <idp>https://shibboleth.uams.edu/idp/shibboleth</idp>
    <idp>urn:mace:incommon:nih.gov</idp>
  </idpwhitelist>

</config>
