/***** Begin basic elements *****/
body {
  font-family: sans-serif;
  color: rgb(77,77,77);
}
a {
  color: #0074e8;
  text-decoration: none;
  outline: none;
}
a:visited {
  color: #0074e8;
}
a:hover, a:active {
  color: #08a7fd;
  text-decoration: none;
}
.btn.btn-primary {
  color: white;
  background-color: rgb(253,92,91);
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.card-header {
    background-color: rgb(241,243,246);
}
.btn.btn-primary:hover,
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  transition: 0.3s;
  background-color: rgb(240,79,78);
  color: rgb(241,243,246);
}
div.logoheader {
  background: rgb(6,33,82);
  height: 84px;
  width: 100%;
  min-width: 600px;
}
div.logoheader h1 {
  background: transparent url("/skin/flywheel/logo.png") no-repeat top left;
  background-size: 92%;
  margin-top: 27px;
  margin-left: 14%;
  width: 130px;
  height: 84px;
  float: left;
}
div.skincilogonlogo {
  display: inline;
  margin-top: 12px;
  margin-right: 8px;
}
.footer {
  border: 0px;
  color: white;
  background-color: rgb(6,33,82);
}
.footer a:link, .footer a:visited {
  color: rgb(179,208,224);
  text-decoration: underline;
}
.footer a:hover, .footer a:active {
  text-decoration: none;
  color: rgb(219,241,252);
}
