<?xml version="1.0" encoding="UTF-8"?>
<config>

  <initialidp>urn:mace:incommon:johnshopkins.edu</initialidp>

  <idpblacklist>
    <!-- InCommon Lab/Research IdPs -->
    <idp>https://identityprovider.anl.gov/idp/shibboleth</idp>
    <idp>urn:mace:incommon:lbl.gov</idp>
    <idp>https://shib.lternet.edu/idp/shibboleth</idp>
    <idp>urn:mace:incommon:mlml.calstate.edu</idp>
    <idp>urn:mace:incommon:mcnc.org</idp>
    <!-- ProtectNetwork -->
    <idp>urn:mace:incommon:idp.protectnetwork.org</idp>
    <!-- Google -->
    <idp>https://accounts.google.com/o/oauth2/auth</idp>
    <!-- Test IdPs -->
    <idp>https://boingo.ncsa.uiuc.edu/idp/shibboleth</idp>
    <idp>https://comanage.psu.edu/idp/shibboleth</idp>
    <idp>https://login.ligo.org/idp/shibboleth</idp>
    <idp>https://logintest.wisc.edu/idp/shibboleth</idp>
    <idp>https://shib-dev.middleware.vt.edu</idp>
  </idpblacklist>

  <logonbuttontext>Continue</logonbuttontext>

  <delegate>
    <forcelifetime>3</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

  <portallist>
    <portal>/portal\.cvrgrid\.org/</portal>
  </portallist>
  <portallistaction>
    <hideportalinfo>1</hideportalinfo>
  </portallistaction>

</config>
