body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #000;
  background: #eef0f2;
}
a {
  color: #5b677d;
  text-decoration: underline;
  outline: none;
}
a:visited {
  color: #5b677d;
}
a:hover, a:active {
  text-decoration: none;
  color: #06c;
}
.card {
  border: 1px solid #c0c2c5;
  background-color: #f4f6f8;
}
.card-header {
  background-color: #fff;
}
.btn.btn-primary {
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  background-color: #313334;
  border: 2px solid #1a1b1b;
  text-shadow: -1px -1px #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.btn.btn-primary:hover {
  background-color: #020509;
  color: #fff;
}
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  background-color: #020509;
  color: #06c;
}

div.logoheader {
  background: #eef0f2;
  height: 89px;
}
div.logoheader h1 {
  background: transparent url("/images/cvrg-logo.png") no-repeat top left;
  margin-top: 15px;
  margin-left: 0px;
  width: 460px;
  height: 74px;
  float: left;
}
div.skincilogonlogo {
  display: inline;
  margin-top: 12px;
}
.footer {
  border: 1px solid #c0c2c5;
}
.footer a:link, .footer a:visited {
  color: #5b677d;
  text-decoration: underline;
}
.footer a:hover, .footer a:active {
  text-decoration: none;
  color: #06c;
}

