/***** Begin basic elements *****/
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #003;
}
a {
  color: #336;
}
a:visited {
  color: #003;
}
a:hover, a:active {
  color: #669;
}
.btn.btn-primary {
  font-size: 100%;
  color: #FFF;
  margin: 5px 0.5em;
  padding: 0.3em 0.8em;
  text-decoration: none;
  border: medium none;
  border-radius: 4px;
  background: #244279;
  text-shadow: 0px 1px 2px #FFF, 0px -1px 1px #999;
  -webkit-box-shadow: 0 0 1px 1px #858f99;
  -moz-box-shadow: 0 0 1px 1px #858f99;
  box-shadow: 0 0 1px 1px #858f99;
  font-weight: normal;
}
.btn.btn-primary:hover {
  background: #0079af;
  font-weight: normal;
  color: white;
}
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  background: #025c99;
  font-weight: normal;
  color: white;
}
.card-header {
  background-color: #eee;
}
div.logoheader {
  background: #FFF;
  height: 104px;
  width: 100%;
  min-width: 600px;
}
div.logoheader h1 {
  background: transparent url("/images/ncsa-logo.png") no-repeat top left;
  margin-top: 2px;
  margin-left: 2px;
  width: 148px;
  height: 100px;
  float: left;
}
div.skincilogonlogo {
  margin: 3px;
  margin-top: 18px;
  display: inline;
}
.footer {
  color: #222;
}
.footer a:link {
  color: #2079D2;
}
.footer a:visited {
  color: #2079D2;
}
.footer a:hover {
  color: #1961A9;
}
.footer a:active {
  color: #1961A9;
}
