body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
    color: #222;
    background: rgb(237,237,237,.9);
    background: -moz-linear-gradient(90deg, rgba(237,237,237,.9) 0%, rgba(246,246,246,.9) 53%, rgba(255,255,255,.9) 100%);
    background: -webkit-linear-gradient(90deg, rgba(237,237,237,.9) 0%,rgba(246,246,246,.9) 53%,rgba(255,255,255,.9) 100%);
    background: linear-gradient(90deg, rgba(237,237,237,.9) 0%,rgba(246,246,246,.9) 53%,rgba(255,255,255,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 );
}
a {
    color: #004fba !important;
}
div.logoheader {
    background: none;
    height: 80px;
    width: 100%;
    min-width: 600px;
}
div.logoheader h1 {
    background: transparent url("/images/nih-logo.png") no-repeat top left;
    margin-top: 8px;
    margin-left: 5px;
    width: 273px;
    height: 64px;
    float: left;
    margin: 17px 0px 0px 20px;
}
div.skincilogonlogo {
  display: inline;
  margin: 5px;
}
body > div.pagecontent > div.boxed > div.actionbox > table > tbody > tr > td > form > fieldset > p:nth-child(1) {
    font-weight: 500;
    font-size: 24px;
    color: #0f3c72 !important;
}
#wayflogonbutton {
    font-weight: 300;
}
select#providerId {
    width: 500px;
    font-size: 15px;
}
.card-header {
    background-color: rgb(242,242,242);
}
.btn.btn-primary {
    border: 1px solid #777;
    color: #eee;
    width: 240px;
    padding: 15px 39px;
    margin-right: 8px;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    display: inline-block;
    white-space: nowrap;
    line-height: 1em;
    position: relative;
    outline: none;
    overflow: visible;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    font-size: 18px;
    background: none;
    font-weight: normal;
    background-image: -moz-linear-gradient(#2f78c0, #0f4071 70%);
    background-image: -webkit-linear-gradient(#2f78c0, #0f4071 70%);
    background-image: linear-gradient(#2f78c0, #0f4071 70%);
}
.btn.btn-primary:hover {
    color: #ddd;
    border: none;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    box-shadow: none;
    text-decoration: none;
    font-weight: normal;
}
.privacypolicy {
    font-size: small;
}
.footer {
    border: none;
    color: #000;
}
