/***** Begin basic elements *****/
body {
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  color: #000;
  background: #4e71b9 url("/images/ucsd-body.gif") repeat-x top left !important;
  font-size: 85%;
}
a {
  color: blue;
}
a:visited {
  color: purple;
}
a:hover, a:active {
  color: red;
}
.card-header {
    background-color: rgb(242,242,242);
}
.btn.btn-primary {
  font-weight: bold;
  font-size: 110%;
  color: #fff;
  border: 2px outset #17205d;
  background: #3e4a9e url("/images/ucsd-buttonbg.png") repeat-x top left;
}
.btn.btn-primary:hover,
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: white;
  background: #3e4a9e url("/images/ucsd-buttonbg.png") repeat-x top left;
}


div.logoheader {
  background: none;
  height: 100px;
}
div.logoheader h1 {
  background: transparent url("/images/ucsd-logo.gif") no-repeat top left;
  margin-top: 35px;
  margin-left: 33px;
  width: 305px;
  height: 41px;
  float: left;
}
div.skincilogonlogo {
  display: inline;
}

.footer {
  border: 1px solid #e4c33d;
  border-top: 1px solid #dbaa27;
  background: #fff;
  margin-top: -1px;
}
.footer a:link {
  color: blue;
}
.footer a:visited {
  color: purple;
}
.footer a:hover, a:active {
  color: red;
  text-decoration: underline;
}
