<?xml version="1.0" encoding="UTF-8"?>
<config>

  <!-- Forceinitialidp is used in conjunction with "selected_idp"/"idphint". -->
  <forceinitialidp>1</forceinitialidp>

  <!-- This is a list of client_ids / callback uris that are allowed to bypass
       the "Select an Identity Provider" screen when the "idphint" /
       "selected_idp" query parameter is passed. It is expected this list will 
       grow as clients ask for this capability. This functionality may be 
       unnecessary in the future if we start allowing OIDC client registrations
       to select an IdP which would bypass the "Select and IdP" screen.
  -->
  <portallist>
    <portal>#cilogon:/client_id/3cbc990448f1ea8df6ebe128b101d84c#</portal>
  </portallist>

  <portallistaction>
    <allowforceinitialidp>1</allowforceinitialidp>
  </portallistaction>

</config>
