<?xml version="1.0" encoding="UTF-8"?>
<config>

  <initialidp>urn:mace:incommon:iu.edu</initialidp>

  <forceinitialidp>1</forceinitialidp>

  <delegate>
    <forcelifetime>240</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

  <portallist>
    <portal>#^https://cybergateway\.uits\.iu\.edu/#</portal>
    <portal>#^https://iub\.globusonline\.org/#</portal>
  </portallist>

  <portallistaction>
    <allowforceinitialidp>1</allowforceinitialidp>
  </portallistaction>

</config>
