<?xml version="1.0" encoding="UTF-8"?>
<config>

  <pkcs12>
    <initiallifetime>
      <number>18</number>
      <multiplier>1</multiplier>
    </initiallifetime>
    <minlifetime>18</minlifetime>
    <maxlifetime>18</maxlifetime>
  </pkcs12>

  <gsca>
    <initiallifetime>
      <number>18</number>
      <multiplier>3600</multiplier>
    </initiallifetime>
  </gsca>

  <delegate>
    <forcelifetime>18</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

  <dnformat>rfc2253</dnformat>

</config>
