body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  color: #333;
  cursor: default;
}
a,
a:link,
a:visited {
  color: #1C6E84;
  text-decoration: none;
}
a:hover,
a:active {
  color: #10424F;
  text-decoration: none;
}
div.logoffactionbox {
  display: none;
  border: none;
}
.privacypolicy {
  font-size: small;
}
div.logoheader {
  background: #FFFFFF url("/skin/DataONE/logo.png");
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 20px;
  border-bottom: 2px solid #660033;
  background-size: 150px;
  height: 72px;
}
div.logoheader h1{
  display: none;
}
.footer{
  border: 0px;
  border-top: 2px solid #660033;
}
.footer a:link,
.footer a:visited{
  color: #1C6E84;
  text-decoration: none;
}
.footer a:hover{
  color: #10424F;
  text-decoration: none;
}
.btn.btn-primary {
  transition: background-color .7s;
  font-size: 1em;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: rgba(99, 28, 63, 1);
  background-image: none;
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
 -webkit-appearance: button;
 padding: 4px 12px;
 border-radius: 4px;
 -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
 font-weight: normal;
}
.btn.btn-primary:hover {
  cursor: pointer;
  background-color: rgb(157, 3, 80);
  background-color: rgba(157, 3, 80, 1);
  transition: background-color .7s;
  font-size: 1em;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-image: none;
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
 -webkit-appearance: button;
 padding: 4px 12px;
 border-radius: 4px;
 -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
 font-weight: normal;
}
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  cursor: pointer;
  background-color: rgb(157, 3, 80);
  background-color: rgba(157, 3, 80, 1);
  transition: background-color .7s;
  font-size: 1em;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-image: none;
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
 -webkit-appearance: button;
 padding: 4px 12px;
 border-radius: 4px;
 -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
 font-weight: normal;
}
.card-header {
    background-color: rgb(252,252,252);
}
