<?xml version="1.0" encoding="UTF-8"?>
<config>

  <initialidp>https://login.ligo.org/idp/shibboleth</initialidp>

  <pkcs12>
    <disabled>1</disabled>
    <disabledmessage>
    LIGO Users: Please use ligo-proxy-init to obtain your certificate.
    Alternatively, please Log Off and choose a different identity provider
    to obtain your certificate.
    </disabledmessage>
  </pkcs12>

  <delegate>
    <initiallifetime>276</initiallifetime>
    <maxlifetime>276</maxlifetime>
  </delegate>

  <ecp>
    <defaultlifetime>276</defaultlifetime>
    <maxlifetime>276</maxlifetime>
  </ecp>

</config>
