body {
  font-family: arial, tahoma, verdana, helvetica, sans-serif; font-size: .9em;
  color: #000;
  background-color: #fff;
}
a {
  color: #369;
  border-bottom: 1px dotted #369;
  text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
  color: #369;
  border-bottom: 1px solid #369;
  text-decoration: none;
}
.card-header {
    background-color: rgb(242,242,242);
}
.footer a:link {
  color: #369;
  border-bottom: 1px dotted #369;
  text-decoration: none;
}
.footer a:hover {
  color: #369;
  border-bottom: 1px solid #369;
  text-decoration: none;
}
.footer a:visited {
  color: #369;
  border-bottom: 1px solid #369;
  text-decoration: none;
}
.btn.btn-primary {
  color: #fff;
  background-color: #369;
}
.btn.btn-primary:hover,
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  background-color: #47a;
  color: #fff;
}
div.logoheader {
  background: none;
  height: 64px;
  margin-bottom: 8px;
}
div.logoheader h1 {
  background: transparent url("/skin/LIGO/logo.png") no-repeat top left;
  margin-top: 0px;
  margin-left: 0px;
  width: 86;
  height: 64;
  float: left;
}
div.skincilogonlogo {
  display: inline;
}
