body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #000;
  background: #eff1f1;
}
a {
  color: #5687dc;
  text-decoration: underline;
  outline: none;
}
a:visited {
  color: #5687dc;
}
a:hover, a:active {
  color: #5687dc;
  text-decoration: none;
}
.btn.btn-primary {
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  background-color: #13294b;
  border: 1px solid #1a1b1b;
  padding: 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.card-header {
    background-color: rgb(244,244,244);
}
.btn.btn-primary:hover,
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  background-color: #224a88;
  font-weight: normal;
  color: white;
}
div.logoheader {
  background-image: url("/images/illinois-header.jpg");
  background-repeat: repeat-x;
  height: 157px;
  min-width: 600px;
}
div.logoheader h1 {
  background: transparent url("/images/illinois-logo.png") no-repeat top left;
  margin-top: 16px;
  margin-left: 9.8%;
  width: 204px;
  height: 35px;
  float: left;
}
div.skincilogonlogo {
  display: inline;
  margin-top: 12px;
  margin-right: 8px;
}
.footer {
  border: 1px solid #c0c2c5;
  background: #fff;
}
.footer a:link, div.footer a:visited {
  color: #5b677d;
  text-decoration: underline;
}
.footer a:hover, div.footer a:active {
  text-decoration: none;
  color: #06c;
}
