/***** Begin basic elements *****/
body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #000;
  background: #eff1f1;
}
a {
  color: #5687dc;
  text-decoration: underline;
  outline: none;
}
a:visited {
  color: #5687dc;
}
a:hover, a:active {
  color: #5687dc;
  text-decoration: none;
  outline: 2px solid #e84a27;
}
/***** End basic elements *****/

/***** Begin a few misc elements *****/
div.boxed {
  border: 1px solid #c0c2c5;
  background: #fff;
}
div.boxheader {
  border: 1px solid #57595a;
  background-color: #4e5051;
  color: #fff;
}
input.submit {
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  background-color: #13294b;
  border: 1px solid #1a1b1b;
  padding: 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
input.submit:active, input.submit:hover {
  background-color: #224a88;
}
/***** End a few misc element *****/

/***** Begin the "CILogon Service" header at the top of each page *****/
div.logoheader {
  background-image: url("/skin/illinois/headerbg.jpg");
  background-repeat: repeat-x;
  height: 157px;
  min-width: 600px;
}
div.logoheader h1 {
  background: transparent url("/skin/illinois/illinois_logo.png") no-repeat top left;
  margin-top: 16px;
  margin-left: 9.8%;
  width: 204px;
  height: 35px;
  float: left;
}

div.skincilogonlogo {
  margin-top: 16px;
  margin-right: 8px;
}

/***** End the "CILogon Service" header at the top of each page *****/

/***** Begin PageHeader titlebox *****/
div.titlebox {
  border: 3px ridge #c0c2c5;
  background-color: #fff;
}
/***** End PageHeader titlebox *****/

/***** Begin page footer *****/
div.footer {
  border: 1px solid #c0c2c5;
  background: #fff;
}
div.footer a:link, div.footer a:visited {
  color: #5b677d;
  text-decoration: underline;
}
div.footer a:hover, div.footer a:active {
  text-decoration: none;
  color: #06c;
}
/***** End page footer *****/

/***** Begin actionbox containing action buttons and WAYF *****/
div.actionbox,
div.p12actionbox,
div.certactionbox,
div.tokenactionbox,
div.logoffactionbox,
div.logofftextbox {
  border: 1px solid #c0c2c5;
}
/***** End actionbox *****/

/***** Begin certinfo / portalinfo table *****/
table.certinfo,
table.portalinfo1,
table.portalinfo2 {
  border: 1px solid #c0c2c5;
}
table.certinfo a:link, table.certinfo a:visited,
table.portalinfo1 a:link, table.portalinfo1 a:visited,
table.portalinfo2 a:link, table.portalinfo2 a:visited {
  color: #5b677d;
  text-decoration: underline;
}
table.certinfo a:hover, table.certinfo a:active,
table.portalinfo1 a:hover, table.portalinfo1 a:active,
table.portalinfo2 a:hover, table.portalinfo2 a:active {
  text-decoration: none;
  color: #06c;
}
/***** End certinfo / portalinfo table *****/

/***** Begin summary div on testidp page *****/
div.summary {
  border: 1px solid #c0c2c5;
  background-color: #eff1f1;
}
div.summary a:link, div.summary a:visited {
  color: #5b677d;
  text-decoration: underline;
}
div.summary a:hover, div.summary a:active {
  text-decoration: none;
  color: #06c;
}
div.summary table tr th {
  background-color: #eff1f1;
}
div.summary table tr td {
  background-color: #eff1f1;
}
div.summary table tr.odd th {
  background-color: #fff;
}
div.summary table tr.odd td {
  background-color: #fff;
}
div.summarytext a:link, div.summarytext a:visited {
  color: #5b677d;
  text-decoration: underline;
}
div.summarytext a:hover, div.summarytext a:active {
  text-decoration: none;
  color: #06c;
}
/***** End summary div on testidp page *****/

/***** Begin userchanged div and table *****/
div.userchanged table {
  border: 1px solid #c0c2c5;
}
div.userchanged table tr th {
  border: 1px solid #c0c2c5;
  background-color: #eff1f1;
}
div.userchanged table tr.headings th {
  border: 1px solid #c0c2c5;
  background-color: #eff1f1;
}
div.userchanged table tr td {
  border: 1px solid #c0c2c5;
  background-color: #eff1f1;
}
div.userchanged table tr.odd th {
  border: 1px solid #c0c2c5;
  background-color: #fff;
}
div.userchanged table tr.odd td {
  border: 1px solid #c0c2c5;
  background-color: #fff;
}
/***** End userchanged div and table *****/

/***** Begin skincilogonlogo *****/
div.skincilogonlogo {
  display: inline;
  margin-top: 12px;
}
/***** End skincilogonlogo *****/

/***** Begin Help-related stuff *****/
table.helptable td.helpcell div {
  background-color: #eff1f1;
}
tr.inforow td.helpcell {
  background-color: #eff1f1;
}
/***** End Help-related stuff *****/
