<?xml version="1.0" encoding="UTF-8"?>
<config>

  <initialidp>https://idp.utk.edu/idp/shibboleth</initialidp>

  <forceinitialidp>1</forceinitialidp>

  <delegate>
    <forcelifetime>12</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

  <portallist>
    <portal>#^https://.*\.nics\.(tennessee|utk)\.edu.*/#</portal>
  </portallist>

  <portallistaction>
    <allowforceinitialidp>1</allowforceinitialidp>
  </portallistaction>

</config>
