<?xml version="1.0" encoding="UTF-8"?>
<config>

  <delegate>
    <forcelifetime>12</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

  <logonbuttontext>Continue</logonbuttontext>

  <portallist>
    <portal>#^https://.*\.nics\.tennessee\.edu.*/#</portal>
    <portal>#^https://.*\.nics\.utk\.edu.*/#</portal>
  </portallist>

  <portallistaction>
    <hideportalinfo>1</hideportalinfo>
  </portallistaction>

</config>
