/***** Begin basic elements *****/
body {
  font: normal Arial, Helvetica, Verdana, lucida,"lucida-sans unicode",sans-serif;
  background-color: #575757;
  color: #000;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #0776bc;
}
a:visited {
  color: #0776bc;
}
a:hover {
  text-decoration: underline;
  color: #0776bc;
}
.card-header {
    background-color: rgb(242,242,242);
}
.btn.btn-primary {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  background: #bbb;
}
.btn.btn-primary:hover {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  background: #bbb;
}
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  background: #bbb;
}
div.logoheader {
  background: #f2efea;
  height: 120px;
  width: 100%;
  min-width: 600px;
  border-top: 7px solid #6d6d6b;
  border-bottom: 27px solid #f58c1e;
}
div.logoheader h1 {
  background: transparent url("/skin/NICS/nicslogo.png") no-repeat top left;
  margin-top: 7px;
  margin-left: 10%;
  width: 332px;
  height: 73px;
  float: left;
}
div.skincilogonlogo {
  margin-top: 17px;
  display: inline;
}
.footer {
  border: 0;
  color: #aaa;
}
.footer a:link {
  color: #ccc;
}
.footer a:visited {
  color: #999;
}
.footer a:hover {
  color: #fff;
}
.footer a:active {
  color: #000;
}
