<?xml version="1.0" encoding="UTF-8"?>
<config>

  <gsca>
    <initiallifetime>
      <number>18</number>
      <multiplier>3600</multiplier>
    </initiallifetime>
  </gsca>

  <delegate>
    <forcelifetime>18</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

  <dnformat>rfc2253</dnformat>

  <deployjava>1</deployjava>

</config>
