<?xml version="1.0" encoding="UTF-8"?>
<config>

  <logonbuttontext>Continue</logonbuttontext>

  <delegate>
    <forcelifetime>12</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

  <portallist>
    <portal>/.*\.oceanobservatories\.org/</portal>
  </portallist>

  <portallistaction>
    <hideportalinfo>1</hideportalinfo>
  </portallistaction>

  <wayfcancelbutton>1</wayfcancelbutton>

</config>
