<?xml version="1.0" encoding="UTF-8"?>
<config>

  <delegate>
    <initiallifetime>12</initiallifetime>
    <remember>1</remember>
  </delegate>

  <portallist>
    <portal>/ion\.oceanobservatories\.org/</portal>
    <!--
    <portal>/demo\.cilogon\.org/</portal>
    -->
  </portallist>

  <portallistaction>
    <hideportalinfo>1</hideportalinfo>
  </portallistaction>

</config>
