/***** Begin basic elements *****/
body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #003;
}
a {
  color: #4F4F77;
}
a:visited {
  color: #4F4F77; 
}
a:hover {
  color: #FF6600;
}
a:active {
  color: #000;
}
/***** End basic elements *****/

/***** Begin a few misc elements *****/
div.boxheader {
  border: 1px solid #369;
  background-color: #9cf;
}
input.submit {
  font-size: 12px;
  letter-spacing: 0.1em;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
	background-color:#F5F5F5;
  background-color: #F5F5F5;
  background-image:-webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#E6E6E6)); 
	background-image:-moz-linear-gradient(0% 50% 270deg,#FFF, #E6E6E6);
	color:#333333;
  text-transform: uppercase;
}
/*
div.boxed {
  background-image:url("/skin/OOI/G1123-Wire-Waves-White-Wide.png");
  background-color:#FFFFFF; 
  background-repeat:no-repeat;
  background-position:-200px -28px; 
}
*/
/***** End a few misc element *****/

/***** Begin the "CILogon Service" header at the top of each page *****/
div.logoheader {
  background: transparent url("/skin/OOI/ooi-logo.png") no-repeat top left;
  height: 72px;
}
div.logoheader h1 {
  display: none;
}
/***** End the "CILogon Service" header at the top of each page *****/

/***** Begin PageHeader titlebox *****/
div.titlebox {
  border: 3px ridge #369;
  background-color: #f0f5ff;
}
/***** End PageHeader titlebox *****/

/***** Begin page footer *****/
div.footer a:link {
  color: #4F4F77;
}
div.footer a:visited {
  color: #4F4F77;
}
div.footer a:hover {
  color: #FF6600;
}
div.footer a:active {
  color: #000;
}
/***** End page footer *****/

/***** Begin actionbox containing action buttons and WAYF *****/
div.actionbox,
div.p12actionbox,
div.certactionbox,
div.logoffactionbox {
  border: 2px outset #369;
  display: block;
  background-color: #FFFFFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

}
div.certactionbox {
  border: none;
  display: none;
}
#wayfcancelbutton {
  display: inline;
}
/***** End actionbox *****/

/***** Begin summary div on testidp page *****/
div.summary {
  background-color: #def;
}
/***** End summary div on testidp page *****/

/***** Begin userchanged div and table *****/
div.userchanged table {
  border: 1px solid #369;
}
div.userchanged table tr th {
  border: 1px solid #369;
  background-color: #def;
}
div.userchanged table tr.headings th {
  border: 1px solid #369;
  background-color: #def;
}
div.userchanged table tr td {
  border: 1px solid #369;
  background-color: #def;
}
div.userchanged table tr.odd th {
  border: 1px solid #369;
  background-color: #f0faff;
}
div.userchanged table tr.odd td {
  border: 1px solid #369;
  background-color: #f0faff;
}
/***** End userchanged div and table *****/

/***** Begin allowdiv and submit buttons *****/
div.allowdiv table td {
  background-color: #f0f5ff;
}
/***** End allowdiv *****/

/***** Begin skincilogonlogo *****/
div.skincilogonlogo {
  display: inline;
}
/***** End skincilogonlogo *****/

/***** Begin Help-related stuff *****/
table.helptable td.helpcell div {
  background-color: #def;
  margin-right: 1em;
}
tr.inforow td.helpcell {
  background-color: #def;
}
/***** End Help-related stuff *****/
