/***** Begin basic elements *****/
body {
  font-family: Signika Negative, sans-serif;
  color: #ccc;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
a {
  color: #ccc;
}
a:visited {
  color: #999;
}
a:hover {
  color: #fff;
}
a:active {
  color: #fff;
}
/***** End basic elements *****/

.card {
    background-color: #1e1e1e;
}
.card-header {
    background-color: #000;
}
.btn.btn-primary {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border: 1px solid #00354C;
  background: #025c99;
  background: -webkit-gradient(linear,0 0,0 100%,from(#0079AF),to(#025C99));
  background: -moz-linear-gradient(top, #0079AF, #025C99);
}
.btn.btn-primary:hover {
  background: #0079af;
  color: #fff;
  font-weight: 400;
}
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  background: #025c99;
  color: #fff;
  font-weight: 400;
}

div.logoheader {
  background: transparent url("/skin/OOI/banner.png") no-repeat top left;
  height: 70px;
  border-bottom: 1px solid #0079af;
}
div.logoheader h1 {
  display: none;
}
div.skincilogonlogo {
  margin-top: 3px;
  display: inline;
}

.footer {
  border: 0;
}
.footer a:link {
  color: #ccc;
}
.footer a:visited {
  color: #999;
}
.footer a:hover {
  color: #fff;
}
.footer a:active {
  color: #000;
}
