<?xml version="1.0" encoding="UTF-8"?>
<config>

  <initialidp>urn:mace:incommon:iu.edu</initialidp>

  <idpblacklist>
    <idp>https://accounts.google.com/o/oauth2/auth</idp>
    <idp>urn:mace:incommon:idp.protectnetwork.org</idp>
  </idpblacklist>

  <delegate>
    <forcelifetime>1</forcelifetime>
    <forceremember>1</forceremember>
  </delegate>

</config>
