a:hover, a:active {
  color: #666;
}
div.logoheader {
  background-color: #fff;
  background-position: center top;
  background-size: 500px 193px;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: scroll;
  background-image: url("/images/iugalaxy-logo.png");
  margin-top: 3px;
  height: 199px;
}

div.logoheader h1 {
  background: transparent;
}
div.skincilogonlogo {
  display: inline;
  margin-top: 46px;
}
div.skincilogonlogo a {
  border-bottom: 0px;
}
.card-header {
    background-color: rgb(244,244,244);
}
.btn.btn-primary {
  border-color: rgba(0,0,0,0.4);
  color: rgb(255,255,255);
  text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
  background-color: rgb(0,80,205);
  background-image: linear-gradient(to bottom, rgb(0,100,205), rgb(0,49,205));
  background-repeat: repeat-x;
  padding: 4px 12px;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.btn-primary:hover {
  text-decoration: none;
  color: white;
  transition: background-position 0.1s linear 0s;
  font-weight: normal;
}
.btn.btn-primary:focus {
  outline: thin dotted rgb(51,51,51);
  outline-offset: -2px;
  font-weight: normal;
}
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  background-color: rgb(0,49,205);
  color: #000;
  font-weight: normal;
}


.footer a:link, div.footer a:visited {
  color: #888;
  text-decoration: underline;
}

