<?xml version="1.0" encoding="UTF-8"?>
<config>

  <initialidp>https://idp.ncsa.illinois.edu/idp/shibboleth</initialidp>

  <forceinitialidp>1</forceinitialidp>

  <idpwhitelist>
    <idp>https://idp.ncsa.illinois.edu/idp/shibboleth</idp>
  </idpwhitelist>

  <portallistaction>
    <allowforceinitialidp>1</allowforceinitialidp>
  </portallistaction>

  <portallist>
    <portal>#https://sprout\.ncsa\.illinois\.edu#</portal>
    <portal>#https://clowder-agri\.ncsa\.illinois\.edu#</portal>
    <portal>#https://agri-clowder\.ncsa\.illinois\.edu#</portal>
  </portallist>

  <forceauthn>1</forceauthn>

</config>
