<?xml version="1.0" encoding="UTF-8"?>
<config>

  <idpblacklist>
    <idp>https://accounts.google.com/o/oauth2/auth</idp>
    <idp>https://github.com/login/oauth/authorize</idp>
    <idp>https://orcid.org/oauth/authorize</idp>
    <idp>https://idhub.eduteams.org/proxy/aHR0cDovL2dpdGh1Yi5jb20vbG9naW4vb2F1dGgvYXV0aG9yaXpl</idp>
  </idpblacklist>

</config>
