/***** Begin basic elements *****/
body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #333333;
}
a,
a:link,
a:visited {
  color: #5783A6;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.btn.btn-primary {
  border: 1px solid #004274;
  color: white;
  text-shadow: 0 -1px 0.05em #004274;
  background-color: #005096;
  background-image: -ms-linear-gradient(top,#0083c9 0%,#005096 100%);
  background-image: -moz-linear-gradient(top,#0083c9 0%,#005096 100%);
  background-image: -o-linear-gradient(top,#0083c9 0%,#005096 100%);
  background-image: -webkit-gradient(top, color-stop(#0083c9, 0), color-stop(#005096, 1));
  background-image: -webkit-linear-gradient(top,#0083c9 0%,#005096 100%);
  background-image: linear-gradient(bottom,#0083c9 0%,#005096 100%);
  box-shadow: 0 1px 0 0 #54acdb inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 5px 0 0;
  padding: 4px 10px 5px;
  vertical-align: middle;
}
.btn.btn-primary:hover {
  border: 1px solid #004274;
  color: white;
  text-shadow: 0 -1px 0.05em #004274;
  background-color: #005396;
  background-image: -ms-linear-gradient(top,#0072b5 0%,#005396 100%);
  background-image: -moz-linear-gradient(top,#0072b5 0%,#005396 100%);
  background-image: -o-linear-gradient(top,#0072b5 0%,#005396 100%);
  background-image: -webkit-gradient(top, color-stop(#0072b5, 0), color-stop(#005396, 1));
  background-image: -webkit-linear-gradient(top,#0072b5 0%,#005396 100%);
  background-image: linear-gradient(bottom,#0072b5 0%,#005396 100%);
  box-shadow: 0 1px 0 0 #54acdb inset;
  font-weight: normal;
}
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  border: 1px solid #004274;
  color: white;
  text-shadow: 0 -1px 0.05em #005096;
  background-color: #005096;
  background-image: -ms-linear-gradient(top,#005096 0%,#005096 100%);
  background-image: -moz-linear-gradient(top,#005096 0%,#005096 100%);
  background-image: -o-linear-gradient(top,#005096 0%,#005096 100%);
  background-image: -webkit-gradient(top, color-stop(#005096, 0), color-stop(#005096, 1));
  background-image: -webkit-linear-gradient(top,#005096 0%,#005096 100%);
  background-image: linear-gradient(bottom,#005096 0%,#005096 100%);
  box-shadow: 0 1px 0 0 #005096 inset;
  font-weight: normal;
}
div.logoheader {
  background: #2F5999;
  height: 145px;
  background: #95b9d9 url("/images/lsst-header.png") no-repeat top left;
}
div.logoheader h1 {
  background: transparent;
  margin: 0px 0px;
  width: 1178px;
  height: 145;
  float: left;
}
div.skincilogonlogo {
  display: inline;
  margin: 1px;
}
.card-header {
  background-color: #f0f5ff;
  //background-color: #c0d5ff;
}
.footer {
  border: 1px solid #2F5999;
  background-color: #F2F5F8;
  color: #666666;
}
.footer a,
.footer a:link,
.footer a:visited {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #0099FF;
}
