body {
  font-family: "TradeGothicBold", sans-serif;
  background-color: #F7F7F7;
  color: #58585B;
}
a,
a:link,
a:visited {
  color: #BFA452;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.card-header {
    background-color: rgb(242,242,242);
}

.btn {
  font-size: 16px;
  color: #a2893c;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e5e5e5));
  background: -webkit-linear-gradient(top, white, #e5e5e5);
  background: -moz-linear-gradient(top, white, #e5e5e5);
  background: -ms-linear-gradient(top, white, #e5e5e5);
  background: -o-linear-gradient(top, white, #e5e5e5);
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 25px;
}
.btn:hover {
  color: #a2893c;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
  background: -webkit-linear-gradient(top, white, #cccccc);
  background: -moz-linear-gradient(top, white, #cccccc);
  background: -ms-linear-gradient(top, white, #cccccc);
  background: -o-linear-gradient(top, white, #cccccc);
}

.btn-primary,
.btn-primary:focus,
.btn-primary[disabled] {
  background-color: #bfa452;
  background-color: #e5c563;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5c563), to(#bfa452));
  background: -webkit-linear-gradient(top, #e5c563, #bfa452);
  background: -moz-linear-gradient(top, #e5c563, #bfa452);
  background: -ms-linear-gradient(top, #e5c563, #bfa452);
  background: -o-linear-gradient(top, #e5c563, #bfa452);
  border: 1px solid #bfa452;
  color: white !important;
  text-shadow: none;
}
.btn-primary i,
.btn-primary:focus i,
.btn-primary[disabled] i {
  color: white;
}
.btn-primary:disabled:hover {
  border: 1px solid #bfa452;
}
.btn-primary:not([disabled]):hover {
  background-color: #a2893c;
  background: -webkit-gradient(linear, left top, left bottom, from(#a2893c), to(#bfa452));
  background: -webkit-linear-gradient(top, #a2893c, #bfa452);
  background: -moz-linear-gradient(top, #a2893c, #bfa452);
  background: -ms-linear-gradient(top, #a2893c, #bfa452);
  background: -o-linear-gradient(top, #a2893c, #bfa452);
  border: 1px solid #bfa452;
}
div.logoheader {
  background: #222222;
  height: 84px;
}
div.logoheader h1 {
  background: #222222 url("/images/swamp-logo.png") no-repeat top left;
  margin: 1px 5px;
  width: 250px;
  height: 80px;
  float: left;
}
div.skincilogonlogo {
  display: inline;
  margin: 10px 5px;
}
.footer {
  border: 1px solid #BFA452;
  background-color: #E7E7E7;
  color: #58585B;
}
.footer a,
.footer a:link,
.footer a:visited {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #BFA452;
}

