<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a comment -->
<config>
  <initialidp>urn:mace:incommon:clemson.edu</initialidp>

  <idpblacklist>
  <!--
    <idp>https://www.google.com/accounts/o8/id</idp>
  -->
    <idp>https://openid.paypal-ids.com</idp>
    <idp>https://pip.verisignlabs.com</idp>
    <idp>urn:mace:incommon:idp.protectnetwork.org</idp>
  </idpblacklist>
</config>
