/***** Begin basic elements *****/
body {
  color: #000;
}
a {
  color: #e07630;
}
a:visited {
  color: #666;
}
a:hover {
  color: #fdcb25;
}
a:active {
  color: #fdcb25;
}
.card-header {
    background-color: rgb(242,242,242);
}
.btn.btn-primary {
  color: #fff;
  background-color: #e07630;
  border: 0;
}
.btn.btn-primary:hover,
.btn.btn-primary.active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: white;
  background-color: #fdcb25;
}
.footer a:link {
  color: #e07630;
}
.footer a:visited {
  color: #666;
}
div.logoheader {
  background: none;
  height: 81px;
}
div.logoheader h1 {
  background: transparent url("/images/osg-logo.gif") no-repeat top left;
  margin-top: 0px;
  margin-left: 44px;
  width: 174px;
  height: 81px;
  float: left;
}
div.skincilogonlogo {
  display: inline;
}
