div.twofactoractionbox,
div.logofftextbox {
  border: 1px solid #888;
  display: block;
}

p.p12certificatelifetime {
  display: block;
}

div.skincilogonlogo {
  display: inline;
}

p.silvercheckbox {
  display: block;
}

table.twofactortypes tr.twofactorduorow {
  display: table-row;
}
