/***** Begin basic elements *****/
html {
  font-size: 100.01%;
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 75%;
  color: #222;
  background: #fff;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; 
  color: #111;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
a {
  color: #4c5f64;
  outline: none;
  text-decoration: none;
  border-bottom: 1px dotted #4c5f64;
}
a:link, a:visited {
  color: #4c5f64;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  border-bottom: 1px solid #4c5f64;
}
/***** End basic elements *****/

/***** Begin a few misc elements *****/
div.boxed {
  border: 4px solid #927360;
  color: #2f4247;
  background: #f3eee0;
}
div.boxheader {
  border: 1px solid #e6c090;
  color: #e5ef97;
  background-color: #927360;
}
input.submit {
  font-weight: normal;
  font-size: 1.2em;
  color: black !important;
  background-color: #d4d0c8 !important;
}
/***** End a few misc element *****/

/***** Begin the "CILogon Service" header at the top of each page *****/
div.logoheader {
  background: #fff url("/skin/bamboo/header-bkgd.gif") no-repeat top right;
  height: 142px;
}
div.logoheader h1 {
  background: transparent url("/skin/bamboo/bamboo-logo.jpg") no-repeat top left;
  margin-top: 50px;
  margin-left: 43px;
  width: 280px;
  height: 56px;
  float: left;
}
/***** End the "CILogon Service" header at the top of each page *****/

/***** Begin PageHeader titlebox *****/
div.titlebox {
  border: 3px ridge #e6c090;
  background-color: #fffaeb;
}
/***** End PageHeader titlebox *****/

/***** Begin page footer *****/
div.footer {
  border: 4px solid #927360;
  background-color: #211107;
  color: #c5b790;
  margin-top: -19px;
  margin-bottom: 2px;
}
div.footer a:link, div.footer a:visited {
  color: #f3eee0;
  text-decoration: none;
}
/***** End page footer *****/

/***** Begin actionbox containing action buttons and WAYF *****/
div.actionbox,
div.p12actionbox,
div.certactionbox,
div.tokenactionbox,
div.logoffactionbox,
div.logofftextbox {
  border: 1px solid #e0d3b0;
}
/***** End actionbox *****/

/***** Begin certinfo / portalinfo table *****/
table.certinfo,
table.portalinfo1,
table.portalinfo2 {
  border: 1px solid #e0d3b0;
}
/***** End certinfo / portalinfo table *****/

/***** Begin contactform on the requestidp page *****/
div.contactform {
  border: 1px solid #e0d3b0;
  background-color: #fffaeb;
}
/***** End contactform on the requestidp page *****/

/***** Begin summary div on testidp page *****/
div.summary {
  border: 1px solid #e0d3b0;
  background-color: #f3eee0;
}
div.summary table tr th {
  background-color: #f3eee0;
}
div.summary table tr td {
  background-color: #f3eee0;
}
div.summary table tr.odd th {
  background-color: #fffaeb;
}
div.summary table tr.odd td {
  background-color: #fffaeb;
}
/***** End summary div on testidp page *****/

/***** Begin userchanged div and table *****/
div.userchanged table {
  border: 1px solid #e0d3b0;
}
div.userchanged table tr th {
  border: 1px solid #e0d3b0;
  background-color: #f3eee0;
}
div.userchanged table tr.headings th {
  border: 1px solid #e0d3b0;
  background-color: #f3eee0;
}
div.userchanged table tr td {
  border: 1px solid #e0d3b0;
  background-color: #f3eee0;
}
div.userchanged table tr.odd th {
  border: 1px solid #e0d3b0;
  background-color: #fffaeb;
}
div.userchanged table tr.odd td {
  border: 1px solid #e0d3b0;
  background-color: #fffaeb;
}
/***** End userchanged div and table *****/

/***** Begin skincilogonlogo *****/
div.skincilogonlogo {
  display: inline;
  margin: 5px;
}
div.skincilogonlogo a {
  border-bottom: 0px;
}
/***** End skincilogonlogo *****/

/***** Begin Help-related stuff *****/
table.helptable td.helpcell div {
  background-color: #fffaeb;
  margin-right: 1em;
}
tr.inforow td.helpcell {
  background-color: #fffaeb;
}
/***** End Help-related stuff *****/
